*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Typo */
h2{
  font-weight: 900;
}

a{
  text-decoration: none;
  color: white;
}

h3{
  padding: 10px 0;
}

#playlist{
  margin-top: 15px;
}

.name{
  display: block;
  color:  grey;
  margin-top: 1.5em;
  font-weight: 700;
}

.radius{
  background-color: grey;
  border-radius: 50%;
  margin-top: .5em;
}

.download{
  width: 20px;
  height: 20px;
  color: grey;
}

p{
  color: #797c80;
}
/* END Typo */

body{
  font-family: 'Roboto', sans-serif;
  color: white;
}

.white{
  color: white;
}

.grey{
  color: grey;
}

hr{
  margin-top: 1em;
  width: 80%;
  
}

.left-margin{
  margin-left: 20px;
}

.d-flex{
  display: flex;
}

.flex-dir-col{
  flex-direction: column;
}

.flex-dir-row{
  flex-direction: row;
}

.wrapper{
  height: 100vh;
  justify-content: space-between;
}

#site-content{
  height: calc(100% - 80px); /* 60px altezza del footer */
  align-items: stretch;
}

.main-menu{
  min-width: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:600px) {
  
  .main-menu{
    min-width: 100px;
}
  }
  

.logo{
  width: 60%;
  padding: 1em;
}

.menu-up{
  margin-left: 15px;
  height: 90%;
}

.menu-down{
  height: 10%;
}

.menu-up img{
  width: 30px;
  height: 30px;
  
}

.unordered{
  list-style-type: none;
}

.playlist{
  color: #080b12;
  background-color: grey;
  font-size: 2em;
  padding: .5em;
  margin-top: 15px;
  
}

.list{
  
  margin-top: .2em;
  list-style: none;
}

.radious{
  border-radius: 50%;
  object-fit: contain;
}

.music-section{
  width: 100%;
  margin-top: 60px; /* altezza del subscribe-banner */
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #141922;
}

.subscribe-banner {
  height: 60px;
  line-height: 60px;
  width: calc(100% - 250px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: #080b12;
  text-align: right;
}

@media screen and (max-width:600px) {
    .subscribe-banner{
      width: calc(100% - 100px);
    }
}

.subscribe-banner a{
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
}

#content-navbar{
  text-align: center;
  margin-top: .5em;
}

#content-navbar a {
  margin-left: .7em;
  color: grey;
  margin-top: .7em;
}

section{
  padding-top: 50px;
}

.albums{
  padding-top: 20px;
  flex-wrap: wrap;
}

.album{
  margin: 10px;
  flex-basis: 200px;
  margin: 10px;
  text-align: center;
  margin-bottom: 4em;
}

.album-title{
  margin-top: 1em;
}

.album img{
  width: 100%;
  margin-left: 0;
}

.img-box{
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  font-size: 4.5rem;
  display: none;
}

.left-em{
  margin-left: 1.5em;
}

.text{
  margin-left: .5em;
}

.overlay i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-box:hover .overlay{
  display: block;
  cursor: pointer;
}

#site-footer{
  height: 80px;
  background-color: rgb(34, 33, 33);
}

.player{
  display: flex;
  height: 80px;
  
}

.player-left{
  width: 400px;
  /* DEBUG */
  background-color: rgb(37, 37, 37);
  display: flex;
  align-items: center;
}

#small-play{
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#song-name{
  margin-left: 9px;
  display: block;
}

#song-current{
  color: grey;
  margin-left: 10px;
  font-size: smaller;
  display: inline-block;
}

.inline{
  margin-left: 25px;
}

.left-margin{
  margin-left: 15px;
}

.player-right {
  width: 400px;
  /* debug */
  background-color: rgb(37, 37, 37);
  display: flex;
  align-items: center;
}

.bar-player{
  height: 5px;
  width: 50%;
  background-color: #797c80;
  margin-left: 20px;
  border-radius: 10px;
  position: relative;
}

.inner-bar{
  height: 5px;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 0;
}

.player-center{
  margin-top: 15px;
  width: 70%;
  background-color: salmon;
  display: flex;
  justify-content: center;
}

.button-player{
  font-size: 25px;
  display: inline-block;
  margin-top: 5px;
}

.play-player{
  font-size: 35px;
}

.block{
  display: block;
}